<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <meta name="Description" content="Convert Youtube Videos into Mp3 songs by providing the link">
    <meta name="Keywords" content="youtube, mp3, free, dowload, convert ,video, to mp3">
    <meta name="google-site-verification" content="tUaCvYwC-WBxKpMeGorIXheyChQl1totqDF6vfzCaFs" />
    <title>Youtube Mp3 Downloader</title>
  </head>
  <body class="text-center">
    <nav class="navbar navbar-light bg-light">
      <a class="navbar-brand" href="#"><strong>Youtube Mp3 Downloader</strong></a>
      <a href='https://github.com/frier-sam/django-youtube-mp3-downloader'><strong>Source</strong></a>
      <a href='#'>By: <strong><a href='https://github.com/frier-sam'>Sam</a></strong></a>

    </nav>
      <h3>Youtube Mp3 Downloader</h3>

    <div class="row">
   <div class="col-md-8 mx-auto">
     <form action="/convert/convert/" method="post">
       <div class="form-group">
         <label for="email">Enter the video Url:</label>
         <input type="text" class="form-control" placeholder="Enter Url for Video" id="url" name='url'>
       </div>

       <button type="submit" class="btn btn-primary">Submit</button>
       <p>Wait for loading to complete and you're download will start shortly</p>
     </form>
   </div>
 </div>

  </body>
</html>
